body {
  font-family: sans-serif;
  background: linear-gradient(rgb(157, 115, 115),rgb(14, 91, 123));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.app {
  width: 300px;
  height: 500px;
  /* border: 2px solid #abcea1; */
  border-radius: 8px;
  padding: 15px;
  background-color: #c9d5de;
  overflow-y: scroll;

}

/* Hidden/Invisible Scrollbar */
.app::-webkit-scrollbar { width: 0 !important }

#addNew {
  display: flex;
  background-color: rgba(232, 176, 128, 0.35);
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.fa-plus {
  background-color: #9eb7d4;
  padding: 3px;
  border-radius: 3px;
}
#tasks{
  display: grid;
  gap: 14px; 
}

#tasks div {
  background-color: rgba(232, 176, 128, 0.35);
  border: 3px solid #709bb3;
  padding: 5px;
  border-radius: 6px;
  display: grid;
  gap: 4px;

}

.options {
  justify-self: center;
  display: flex;
  gap: 20px;
}

.options i{
  cursor: pointer;
}